<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>socket client</title>
    <script src="{{setting.RES_CDN_DOMAIN}}/js/moment.min.js"></script>
    <script src="{{setting.RES_CDN_DOMAIN}}/js/socket.io.js"></script>
</head>
<body onresize="resized()">
    <div class="head">
        <label>服务器地址</label>
        <input style="width: 300px;" id="serverAddress" type="text" value="{{data.url}}">
        <input id="connectBtn" type="button" value="连接" onclick="connect()">
        <input id="disconnectBtn" type="button" value="断开" disabled onclick="disconnect(true)">
        <label style="margin-left: 30px;">当前服务器时间: <span id="time">N/A</span></label>
        <label style="margin-left: 30px;">延时: <span id="delay">N/A</span></label>
        <label style="margin-left: 30px;">平均延时: <span id="avg_delay">N/A</span></label>
        <label style="margin-left: 30px;">最大延时: <span id="max_delay">N/A</span></label>
        <label style="margin-left: 30px;">连接时间: <span id="live_time">N/A</span></label>
    </div>
    <div id="log">

    </div>
</body>
<style>
    body,html { width:100%; height:100%; margin:0; padding:0; }
    body { overflow: hidden; }
    div.head { width:100%; height:42px; padding: 5px; text-align:left; vertical-align: middle; line-height: 42px; background-color: #1b1b1b; color: #fff; }
    #log { width:100%; padding:5px 10px 5px 10px; overflow-y: auto; }
</style>
<script>

    moment.locale('zh-cn');

    function resized() {
        var logEle = document.getElementById("log");
        logEle.style.height = ((document.body.clientHeight || document.body.offsetHeight) - 52) + "px";
    }
    resized();

    function log(str) {
        var con = document.getElementById("log");
        con.innerHTML += '<p>' + str + '</p>';

        con.scrollTop = (con.clientHeight || con.offsetHeight);
    }

    var socket,avgDelay = 0,maxDelay = 0,pingTime = 0,totalDelay = 0;
    function connect() {

        if (socket) {
            try {
                socket.close();
            } catch (err) {

            }
            socket = undefined;
            setTimeout(connect, 100);
            return;
        }

        log('try to connect...');
        document.getElementById("connectBtn").setAttribute("disabled", "true");

        socket = io(document.getElementById("serverAddress").value, { forceNew:true });

        socket.on('connect_error', function(){
            log('connect error');
        });
        socket.on('connect_timeout', function(){
            log('connect timeout');
        });
        socket.on('reconnecting', function(){
            log('retry...');
        });
        socket.on('connect', function(){
            log('connected...my socket id: ' + socket.id);
            document.getElementById("connectBtn").setAttribute("disabled", "true");
            document.getElementById("disconnectBtn").removeAttribute("disabled");
            window.connectStartTime = new Date().getTime();
        });
        socket.on('disconnect', function(){
            log('disconnected...');
            setTimeout(disconnect, 100);
        });
        /* 接收自定义消息 */
        socket.on('welcome', function(data){
            data = parsePacket(data);
            log('welcome! your ip is ' + data.ip + ":" + data.port);
            ping();
        });
        socket.on('pong', function(data){
            data = parsePacket(data);
            var d = new Date(data.time);
            document.getElementById("time").innerHTML = d.toLocaleDateString() + " " + d.toLocaleTimeString();
            var costTime = new Date().getTime() - window.pingStartTime;
            document.getElementById("delay").innerHTML = costTime + "ms";

            if (window.connectStartTime) {
                document.getElementById("live_time").innerHTML = countLiveTime();
            }

            pingTime ++;
            totalDelay += costTime;
            maxDelay = Math.max(maxDelay, costTime);
            //avgDelay = parseInt((avgDelay * pingTime + costTime) / (pingTime + 1));
            avgDelay = Number(totalDelay / pingTime).toFixed(2);
            document.getElementById("avg_delay").innerHTML = avgDelay + "ms";
            document.getElementById("max_delay").innerHTML = maxDelay + "ms";

            window.pingTimer = setTimeout(function() {
                ping();
            }, 3000);
        });
    }

    function countLiveTime() {
        var liveTime = new Date().getTime() - window.connectStartTime;
        liveTime = liveTime / 1000;
        if (liveTime < 60) {
            liveTime = moment.duration(2, "seconds").humanize();
        } else if (liveTime >= 60 && liveTime < 3600) {
            liveTime = moment.duration(2, "minutes").humanize();
        } else if (liveTime >= 3600) {
            var temp = "";
            var day = Math.floor(liveTime / (3600 * 24));
            var hour = (liveTime - day * (3600 * 24)) / 3600;

            if (day > 0) {
                temp = moment.duration(day, "days").humanize() + " ";
            }
            temp += moment.duration(hour, "hours").humanize();
            liveTime = temp;
        }
        return liveTime;
    }

    function disconnect(destory) {
        document.getElementById("disconnectBtn").setAttribute("disabled", "true");
        document.getElementById("connectBtn").removeAttribute("disabled");

        document.getElementById("time").innerHTML = "N/A";
        document.getElementById("delay").innerHTML = "N/A";

        document.getElementById("live_time").innerHTML = countLiveTime();
        window.connectStartTime = undefined;

        clearTimeout(window.pingTimer);
        window.pingTimer = undefined;

        if (destory && socket) {
            socket.removeAllListeners("pong");
            socket.removeAllListeners("welcome");
            socket.removeAllListeners("connect");
            socket.removeAllListeners("disconnect");
            socket.connected && socket.close();
            socket = undefined;
        }
    }

    function ping() {
        window.pingStartTime = new Date().getTime();
        socket && socket.connected && socket.emit("ping", { time:window.pingStartTime });
    }

    function parsePacket(buffer){
        if (buffer instanceof ArrayBuffer) {
            var arr = new Uint8Array(buffer);
            var str = String.fromCharCode.apply(String, arr);
            if(/[\u0080-\uffff]/.test(str)){
                throw new Error("this string seems to contain (still encoded) multibytes");
            }
            return JSON.parse(str);
        } else {
            return buffer;
        }
    }

</script>
</html>